.pure-u-1-1 {
  text-align: center;

}



.page {
    width: 850px;
    background-color: white;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
  }

  .pure-g {
    margin-bottom: 40px;
    padding-right: 15%; 
    /*padding-left: 6%;*/
    
    
  }
  .pure-u-1-2 {
    float: left;
    padding-right: 10px;
  } 
  
  /*.pure-u-1-3{
    float: right;
  }*/
  

  

   .description-right {
    padding-left: 20px;
  }

  

  .description-left {
    padding-right: 20px;
    width: 50%;
    margin-left: 15%;
    
    
    
  } 
 
  .vis-container_COMAP{
    right: 35%;
  }

   .vis-container {
    position: relative;
    right: 35%;
     /*width: 50%; */
    /*align-content: center;*/
    
  } 
  .figure_1 {
    position: relative;
    right: 35%;
    
    
  }
  

  .Ozone_Title {
    font-weight: 900;
    background-color: burlywood;
    width: 500px;
  }

  .NO2_Title{
    font-weight: 900;
    background-color: burlywood;
    width: 500px;
  }

  .CO2_Title{
    font-weight: 900;
    background-color: burlywood;
    width: 500px;
  }

  .CO_Description{
    padding-right: 20px;
    width: 50%;
    margin-left: 15%;
  }